<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="buy-buy, buy2, second-hand, used, sell" />
  <meta name="description" content="Second-hand goods online trading platform" />

  <title>buy-buy</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/css/fileinput.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

  <link rel="stylesheet" href="lib/bootstrap-tagsinput.css" />

  <style>
  .bootstrap-tagsinput {
    width: 100%;
  }
  </style>

</head>
<body>
  <!-- dynamic loading of page content -->
  <div ng-controller="mainController">
    <div id="navs" ng-include="navs.url"></div>
    <div id='msg-window' ng-include="msg_view.url"
    ng-show="msgShow" ng-init="msgShow=false"></div>
  </div>


  <div ng-controller="loadController">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" ng-bind="item.attributes.title"></h3>
          </div>
          <label>{{item.pictures}}</label>
          <div id="myCarousel" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" ng-repeat="x in item.pictures">
              <li data-target="#myCarousel" data-slide-to="{{x}}" ng-class="x == '0' ? 'active':''"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div align="center" class="item" ng-repeat="x in item.pictures" ng-class="x == '0' ? 'active' : ''">
                <img class="img-responsive" ng-src="/items/{{item_id}}/pictures/{{x}}"  />
              </div>
            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="modal-body">

            <!-- tab-->
            <div class="container-fluid">
              <ul id="itemTab" class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#detail"data-toggle="tab"><b>Detail</b></a></li>
                <li role="presentation"><a data-toggle="tab"href="#description"><b>Description</b></a></li>
                <li role="presentation"><a data-toggle="tab"href="#comment"><b>Comment</b></a></li>
                <li role="presentation"><a data-toggle="tab"href="transition.view.html"><b>Buy</b></a></li>
              </ul>
              <div id="itemTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="detail">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td><span class="glyphicon glyphicon-yen"></span> <b>Price</b></td>
                        <td ng-bind="item.price"></td>
                      </tr>
                      <tr>
                        <td>
                          <span class="glyphicon glyphicon-tag"></span> <b>Tag</b>
                        </td>
                        <td>
                          <div ng-repeat="x in item.tags" style="float: left">
                          <span style="text-decoration: none;" class="label btn btn-info" ng-bind="x"></span>
                          <span>&nbsp;</span>
                        </div>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="glyphicon glyphicon-duplicate"></span> <b> Quantity</b></td>
                        <td ng-bind="item.quantity"></td>
                      </tr>
                      <tr>
                        <td><span class="glyphicon glyphicon-wrench"></span> <b>Condition</b></td>
                        <td ng-bind="condition"></td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="tab-pane" id="description">
                  <div class="well" ng-bind="item.attributes.description"></div>
                </div>
                <div class="tab-pane fade" id="comment">
                  <div class="input-group">
                    <input class="form-control" placeholder="Add a comment" type="text" ng-model="comments">
                    <a href="" ng-click="addComment()"class="input-group-addon">
                      <span class="glyphicon glyphicon-comment" ></span>
                    </a>
                  </div>
                  <table class="table table-striped">
                    <tbody>
                      <tr ng-repeat="x in comments_array">
                        <td><a href="#"><img style="max-height:50px;" src="http://bootdey.com/img/Content/user_1.jpg" ></a></td>
                        <td><textarea class="form-control" disabled="true" rows="3" id="comment" ng-bind="x[1]"></textarea></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- load angular functions -->
    <script src="mainController.js"></script>
    <script>
    angular
    .module('indexApp', ['ngRoute', 'ngCookies'])
    .controller('mainController', mainController);
    </script>
    <script src="login.js"></script>
    <script src="register.js"></script>
    <script>
    angular.module('itemApp', ['ngRoute', 'ngCookies']);
    </script>
    <script src="item_detail.js"></script>
    <script>
    angular.element(function() {
      angular.bootstrap(document, ['indexApp', 'itemApp'])
    })
    </script>

  </body>
  </html>
