<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/new_card.css">
  <script src="new_card.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900" rel="stylesheet">
  <script src="tools.js"></script>

  <!-- reponsive height for cards -->


</head>
<body>
  <div class="container" ng-show="no_match" align="center">
    <h4>No items match your search entry</h4>
  </div>
  <div class="container" style="width:100%;">
    <div class="col col-md-1 hidden-xs hidden-sm" ng-hide="is_profile">
    </div>
    <div class="col col-xs-12" ng-class="is_profile?'col-md-12':'col-md-10'">
      <h3 style="padding-bottom: 3rem" ng-show="is_recommend">Recommendations</h3>
      <div ng-repeat="item in items" class="col col-sm-6" ng-class="is_profile?'col-md-4':'col-md-3'">
        <div class="item-card card-container">
          <div class="card">
            <a href="" ng-click="changeTo('item_detail.html?' + item._id)"><div class="item-card-front front">
              <div class="cover">
                <img ng-src="/items/{{item._id}}/pictures/0"
                  onError="this.onerror=null;this.src='https://assets.rbl.ms/4314213/980x.jpg';" />
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">{{item.attributes.title}}</h3>
                  <h3 class="name">$ {{item.price}}</h3>
                </div>

              </div>
              <div class="footer">
                {{item.post_time}}
              </div>
            </div> <!-- end front panel -->
            <div class="item-card-back back">
              <div class="content">
                <div class="main">
                  <h3 class="text-center">Description</h3>
                  <p class="text-center" style="word-wrap: break-word; line-height:15px;">{{item.attributes.description}}</p>
                  <hr style="padding:0;marigin-top:0;margin-top:0;margin-bottom:0;margin-left:50px;margin-right:50px;border:1px double #e8e8e8"/>
                  <h4 class="text-center">Quantity</h4>
                  <p class="text-center" style="margin:0;word-wrap: break-word;">{{item.quantity}}</p>
                  <hr style="padding:0;marigin-top:0;margin-top:0;margin-bottom:0;margin-left:50px;margin-right:50px;border:1px double #e8e8e8"/>
                  <h4 class="text-center">Condition</h4>
                  <p class="text-center" style="margin:0;word-wrap: break-word;">{{item.condition_name}}</p>
                  <hr style="padding:0;marigin-top:0;margin-top:0;margin-bottom:0;margin-left:50px;margin-right:50px;border:1px double #e8e8e8"/>
                  <h4 class="text-center">Category</h4>
                  <p class="text-center" style="margin:0;word-wrap: break-word;">{{item.cid.name}}</p>
                </div>
              </div>

            </div> <!-- end back panel --></a>
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
    </div>
    <div class="col col-md-1 hidden-xs hidden-sm" ng-hide="is_profile">
    </div>
  </div>
</body>
<!--script>
  var set_card_height_responsive = function() {
      var card_container = $(".item-card");
      var card_back = $(".item-card-back");
      var card_front = $(".item-card-front");
      card_container.css("height", Math.floor(parseFloat(card_container.css("width").split("px")[0]) * 0.6 + 240) + 'px');
      card_back.css("height", Math.floor(parseFloat(card_back.css("width").split("px")[0]) * 0.6 + 240) + 'px');
      card_front.css("height", Math.floor(parseFloat(card_front.css("width").split("px")[0]) * 0.6 + 240) + 'px');
      window.addEventListener("resize", function(e) {
        card_container = $(".item-card");
        card_back = $(".item-card-back");
        card_front = $(".item-card-front");
        card_container.css("height", Math.floor(parseFloat(card_container.css("width").split("px")[0]) * 0.6 + 240) + 'px');
        card_back.css("height", Math.floor(parseFloat(card_back.css("width").split("px")[0]) * 0.6 + 240) + 'px');
        card_front.css("height", Math.floor(parseFloat(card_front.css("width").split("px")[0]) * 0.6 + 240) + 'px');
      });
  }
  angular.element(document).ready(function () {
    setTimeout(set_card_height_responsive, 1500);
  });
</script-->
</html>
