<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/btn_anim.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Buy-buy</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">To buy <span class="sr-only">(current)</span></a></li>
          <li><a href="post.html">To sell</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>

        <!-- search entry -->
        <form class="navbar-form navbar-left" ng-controller="searchController">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="keyword">
          </div>
          <button type="submit" class="btn btn-default" ng-click="goto(get_search_route(false));">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#login-modal"
            ng-hide="signed_in">Login</a></li>
          <li><a href="#" data-toggle="modal" data-target="#register-modal"
            ng-hide="signed_in">Register</a></li>

          <li class="dropdown" ng-show="signed_in">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Messenger <span class="badge" ng-show="new_message_num">new</span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="disabled" ng-show="!recent">
                <a>No contacts</a>
              </li>
              <li ng-repeat="c_data in recent">
                <a href="" ng-click="start_chat(c_data)">{{c_data.name}}
                  <span class="badge" ng-show="c_data.new">new</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown" ng-show="signed_in">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">{{client_name}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Your Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="sign_out()">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Modals -->
  <div id="login-modal" class="modal fade" role="dialog" ng-include="login_view.url"></div>
  <div id="register-modal" class="modal fade" role="dialog" ng-include="register_view.url"></div>

</body>
</html>
