<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="buy-buy, buy2, second-hand, used, sell" />
  <meta name="description" content="Second-hand goods online trading platform" />

  <title>buy-buy</title>
  <link href="css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <!-- Latest compiled and minified CSS -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

  <link rel="stylesheet" href="lib/bootstrap-tagsinput.css" />
  <script src="lib/bootstrap-tagsinput.js"></script>
  <script src="lib/bootstrap-tagsinput-angular.js"></script>
  <style>
  .bootstrap-tagsinput {
    width: 100%;
  }
  </style>

  <script src="tools.js"></script>
</head>
<body>

  <!-- dynamic loading of page content -->
  <div ng-controller="mainController">
    <div id="navs" ng-include="navs.url"></div>
    <div id='msg-window' ng-include="msg_view.url"
    ng-show="msgShow" ng-init="msgShow=false"></div>
  </div>


  <div ng-controller="postController" style="margin-top: 70px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post your items</h4>
        </div>

        <div class="container-fluid">
          <form name="PostForm" ng-controller = "postController" role="form">
            <!-- title -->
            <div class="form-group has-feedback" ng-class = "PostForm.title.$dirty?
            (titleValid?'has-success':'has-error'):''">
            <label for="title">Title<font color="red">*</font></label>
            <input type="text" class="form-control" name="title" id="title" ng-model="title" ng-change="validateTitle(PostForm.title.$dirty)" required/>
            <span class="glyphicon form-control-feedback"
            ng-class="titleValid?'glyphicon-ok':'glyphicon-remove'"
            ng-show="PostForm.title.$dirty"></span>
            <span class="help-block" ng-show="PostForm.title.$dirty && !titleValid" >Title is required</span>
          </div>

          <!-- category -->
          <div class="form-group">
            <label for="category">Category<font color="red">*</font></label>
            <select class="form-control" ng-options="c._id as c.name for c in categories" ng-model="selectedCategory"></select>
            <!--select class="form-control" name="category" ng-model="category" id="category" required>
              <optgroup label="others">
                <option>others</option>
              </optgroup>
              <optgroup label="Book">
                <option>books</option>
                <option>textbook</option>
                <option>fiction</option>
                <option>magizine</option>
              </optgroup>
              <optgroup label="Life">
                <option>kitchenware</option>
                <option>makeup</option>
                <option>sports</option>
                <option>closing,shoes</option>
              </optgroup>
              <optgroup label="entertainment&study">
                <option>e-elecrronic</option>
                <option>musician</option>
              </optgroup>
            </select-->
          </div>

          <!-- quality -->
          <div class="form-group has-feedback"ng-class = "PostForm.quantity.$dirty?
          (quantityValid?'has-success':'has-error'):''">
          <label for="quantity">Quantity<font color="red">*</font></label>
          <input class="form-control" name="quantity"type="number" id="quantity" ng-model="quantity"ng-init="quantityValid=true;"ng-change="validateQuantity(PostForm.quantity.$dirty)"required/>
          <span class="glyphicon form-control-feedback"
          ng-class="quantityValid?'glyphicon-ok':'glyphicon-remove'"
          ng-show="PostForm.quantity.$dirty"></span>
          <span ng-show="PostForm.quantity.$dirty && !quantityValid" class="help-block">{{quantityErrorMsg}}</span>
        </div>
        <!-- condition -->
        <div class="form-group">
          <label for="condition">Condition<font color="red">*</font></label>
          <select  class="form-control" name="condition" ng-model="condition" id="condition"required>
            <option value="1"selected="selected">Like New</option>
            <option value="2">Very good</option>
            <option value ="3">Good</option>
            <option value="4">Acceptable</option>
            <option value="5">Bad</option>
          </select>
        </div>

        <!-- price -->
        <div class="form-group has-feedback"ng-class = "PostForm.price.$dirty?
        (priceValid?'has-success':'has-error'):''">
        <label for="price">Price<font color="red">*</font></label>
        <input class="form-control" name="price" type="number" id="price" ng-model="price" ng-change="validatePrice(PostForm.price.$dirty)"required/>
        <span class="glyphicon form-control-feedback"
        ng-class="priceValid?'glyphicon-ok':'glyphicon-remove'"
        ng-show="PostForm.price.$dirty"></span>
        <span ng-show="PostForm.price.$dirty" class="help-block">{{priceErrorMsg}}</span>
      </div>

      <!-- description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" maxlength="300" ng-model="description"></textarea>
        <small id="desciptionHelp" class="form-text text-muted">Maxlength is 300</small>
      </div>

      <!-- tag -->
      <div class="form-group">
        <label for="tag">Tag</label><br/>
        <input class="form-control" type="text" data-role="tagsinput" id="tag" name="tag" ng-model="tags">
      </div>

      <!-- picture -->
      <div class="form-group">
        <label for="picture">Picture</label>
        <input type="file" accept="image/*" name="pic" class="file" multiple data-show-upload="false" onchange="angular.element(this).scope().uploadFile(this.files)"/>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary smooth-trans-btn"
        ng-disabled="!priceValid || !titleValid || !quantityValid" ng-click="post_item()">
        Post</button>
        <a href="profile.view.html" class="btn btn-link" onclick="$('#post-modal').modal('toggle')">Cancel</a>
      </div>
    </form>
  </div>
  <div class="modal-footer"></div>
</div>

</div>
</div>

<!-- load angular functions -->

<!-- load main controller -->
<script src="mainController.js"></script>
<script>
  angular
    .module('indexApp', ['ngRoute', 'ngCookies'])
    .controller('mainController', mainController);
</script>

<!-- load login & register controller -->
<script src="login.js"></script>
<script src="register.js"></script>

<!-- load search controller -->
<script src="searchController.js"></script>
<script>
  angular
    .module("indexApp")
    .controller("searchController", searchController)
</script>

<script>
angular.module('postApp', ['ngRoute', 'ngCookies']);
</script>
<script src="post_load.js"></script>
<script>
  angular.bootstrap(document, ['indexApp', 'postApp']);
</script>
</body>
</html>
