<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/profile.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>

  <script src="tools.js"></script>

  <style>
  .box-shadow2{
    -webkit-box-shadow:0 0 5px;
    -moz-box-shadow:0 0 5px ;
    box-shadow: 0 0 5px ;
  }
  </style>
</head>

<body>

  <!-- dynamic loading of page content -->
  <div ng-controller="mainController">
    <div id="navs" ng-include="navs.url"></div>
    <div id='msg-window' ng-include="msg_view.url"
    ng-show="msgShow" ng-init="msgShow=false"></div>

    <div class="container">
      <div ng-controller="loadController">
        <div class="container">
          <div class="row profile">
            <div ng-class="'col col-sm-4 col-md-3 col-lg-3'">
              <div class="profile-sidebar card hoverable">
                <!-- SIDEBAR USERPIC -->

                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div ng-include="user_info.url">

                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                  <ul class="nav navs-tab">
                    <li class="active">
                      <a data-toggle="tab"href="#Following" ng-click="getFollowee()">
                        <i class="glyphicon glyphicon-eye-open"></i>Following
                      </a>
                    </li>
                    <li>
                      <a data-toggle="tab"href="#Follower" ng-click="getFollower()">
                        <i class="glyphicon glyphicon-eye-open"></i>Follower
                      </a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#Selling" ng-click="getSell()">
                        <i class="glyphicon glyphicon-transfer"></i>Selling
                      </a>
                    </li>
                    <li>
                      <a data-toggle="tab"href="#Transaction" ng-click="getTransaction()">
                        <i class="glyphicon glyphicon-bell"></i>Transaction list
                      </a>
                    </li>
                    <li>
                      <a href="contact_us.html">
                        <i class="glyphicon glyphicon-flag"></i>Contact Us
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- END MENU -->
              </div>

            </div>
            <div ng-class="'col col-xs-7 col-sm-8 col-md-9 col-lg-9'">
              <div class="profile-content tab-content">
                <div class="tab-pane fade in active" id="Following" ng-include="user_list.url"></div>
                <div class="tab-pane fade" id="Follower" ng-include="user_list.url"></div>
                <div class="tab-pane fade" id="Selling" ng-include="item_list.url">
                </div>
                <div class="tab-pane fade" id="Transaction" ng-include="transaction.url">
                </div>
<label>{{transaction.url}}</label>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- load angular scripts -->
    <script src="mainController.js"></script>
    <script>
    var app = angular.module('indexApp', ['ngRoute', 'ngCookies']);
    app.controller('mainController', mainController);
    </script>
    <script src="login.js"></script>
    <script src="register.js"></script>

    <!-- load search controller -->
    <script src="searchController.js"></script>
    <script>
    angular
    .module("indexApp")
    .controller("searchController", searchController)
    </script>

    <script src="profile.js"></script>
    <script>
    angular.element(function() {
      angular.bootstrap(document, ['indexApp', 'profileApp'])
    })
    </script>

  </body>
  </html>
