<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
</head>


<body>
  <div class="modal-dialog">
    <div>

      <div class="modal-content">
        <div class="modal-header">
          <label>Profile update</label>
          <div>
            <form name="myForm">
              <div class="form-group">
                <h1 ng-bind="user.user.username"></h1>
                <h3 ng-bind="user.user.email"></h3>
              </div>
              <div class="form-group">
                <label for="profile-phone">Phone</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="name" ng-model="user.user.profile.phone">
                </div>
              </div>
              <div class="form-group">
                <label for="profile-facebook">Facebook</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="name" ng-model="user.user.profile.facebook">
                </div>
              </div>
              <div class="form-group">
                <label for="useremail" class="col-2 col-form-label">User Email</label>
                <div class="col-10">
                  <input class="form-control" type="email" name="email" ng-model="user.user.profile.email">
                </div>
              </div>
              <div class="form-group">
                <label for="userdescription">Discription</label>
                <textarea class="form-control" rows="5" name="description" ng-model="user.user.profile.description"></textarea>
              </div>
              <br>
              <button class="btn btn-primary" data-dismiss="modal" onclick="$('#buyModal').modal('toggle');" ng-disabled="myForm.name.$pristine && myForm.email.$pristine && myForm.description.$pristine" ng-click="submit()">Submit</button>
              <button class="btn btn-default" data-dismiss="modal">cancel</button>
            </form>
          </div>
        </div>
      </div>
    </body>
