<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="buy-buy, buy2, second-hand, used, sell" />
  <meta name="description" content="Second-hand goods online trading platform" />

  <title>buy-buy</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/btn_anim.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
  <link rel="stylesheet" href="lib/bootstrap-tagsinput.css" />
  <script src="lib/bootstrap-tagsinput.js"></script>
  <script src="lib/bootstrap-tagsinput-angular.js"></script>
  <style>
  .bootstrap-tagsinput {
    width: 100%;
  }
  </style>

  <script src="tools.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/search.css">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Petit+Formal+Script" />
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  var min_price = 0;
  var max_price = 1000;
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: min_price,
      max: max_price,
      values: [ min_price, max_price ],
      slide: function( event, ui ) {
        if (ui.values[ 1 ] == max_price) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] + " and above");
        } else {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
      }
    });
    if ($( "#slider-range" ).slider( "values", 1 ) == max_price) {
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) + " and above");
    } else {
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    }
  });
  </script>

  <style>
  #searchContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("img/CUHK.jpg");
    background-size: 100% 100%;
    padding: 100px 0 50px 0;
  }
  .title {
    font: 400 3.5em/125% 'Petit Formal Script', Helvetica, Sans-serif;
  }
  </style>

</head>
<body style="margin-top:50px;">
  <!-- dynamic loading of navigator and messenger -->
  <div ng-controller="mainController">
    <div id="navs" ng-include="navs.url"></div>
    <div id='msg-window' ng-include="msg_view.url"
    ng-show="msgShow" ng-init="msgShow=false"></div>
  </div>

  <div class="container-fluid" ng-controller="searchController" style="padding:0;">
    <div class="container-fluid" id="searchContainer" >
      <div class="title col-lg-12 text-center" style="margin-bottom:50px;color:WHITE;font-size:40px ;font-weight:400;">
        Enjoy your search!
      </div>
      <div class="container" >
        <div class="row">
          <div class="col-md-12">

              <div class="input-group input-group-lg" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for items" ng-model="keyword"/>
                <div class="input-group-btn">
                  <div class="btn-group btn-group-lg" role="group">
                    <div class="dropdown dropdown-lg">
                      <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" ng-options="c._id as c.name for c in categories" ng-model="selectedCategory"></select>
                          </div>
                          <div class="form-group">
                            <label for="tag">Tag</label><br/>
                            <input class="form-control" type="text" data-role="tagsinput" id="tag" name="tag" ng-model="tags">
                          </div>
                          <p>
                            <label for="amount">Price range:</label>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                          </p>
                          <div id="slider-range" style="margin-bottom:15px;"></div>
                        </form>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="submit_search(get_search_route(true))"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="'item_list.html'" style="margin-top: 5rem"></div>
  </div>




  <!-- load main controller -->
  <script src="mainController.js"></script>
  <script>
  angular
  .module('indexApp', ['ngRoute', 'ngCookies'])
  .controller('mainController', mainController);
  </script>

  <!-- load login & register controller -->
  <script src="login.js"></script>
  <script src="register.js"></script>

  <!-- load search controller -->
  <script src="searchController.js"></script>
  <script>
  angular
  .module('searchApp', [])
  .controller('searchController', searchController);
  </script>

  <script>
  angular.bootstrap(document, ["indexApp", "searchApp"]);
  </script>
</body>
</html>
