<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="buy-buy, buy2, second-hand, used, sell" />
  <meta name="description" content="Second-hand goods online trading platform" />

  <title>buy-buy</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/btn_anim.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

  <script src="tools.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- init price slider -->
  <script>
  var min_price = 0;
  var max_price = 1000;
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: min_price,
      max: max_price,
      values: [ min_price, max_price ],
      slide: function( event, ui ) {
        if (ui.values[ 1 ] == max_price) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] + " and above");
        } else {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
      }
    });
    if ($( "#slider-range" ).slider( "values", 1 ) == max_price) {
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
        " - $" + $( "#slider-range" ).slider( "values", 1 ) + " and above");
    } else {
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
        " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    }
  });
  </script>

  <style>
    #searchForm {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 3%;
      padding-bottom: 5%;
    }
  </style>

</head>
<body>
  <!-- dynamic loading of navigator and messenger -->
  <div ng-controller="mainController">
    <div id="navs" ng-include="navs.url"></div>
    <div id='msg-window' ng-include="msg_view.url"
      ng-show="msgShow" ng-init="msgShow=false"></div>
  </div>

  <div class="container-fluid" ng-controller="searchController">
    <form id="searchForm" role="form">
      <label for="username">Search for goods</label>
      <div class="input-group">
        <div class="input-group-btn">
          <!-- category -->
          <select id="categorySelect" class="form-control" name="category">
            <option>All</option>
            <optgroup label="Book">
              <option>Books</option>
              <option>Textbook</option>
              <option>Fiction</option>
              <option>Magazine</option>
            </optgroup>
            <optgroup label="Life">
              <option>Clothing & Shoes</option>
              <option>Makeup</option>
              <option>Sports</option>
              <option>Kitchenware</option>
            </optgroup>
            <optgroup label="Entertainment">
              <option>Electronics</option>
              <option>Musical Instrument</option>
            </optgroup>
            <optgroup label="Others">
              <option>Others</option>
            </optgroup>
          </select>
        </div>
        <input type="text" class="form-control" ng-model="keyword"/>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" ng-click="submit_search(get_search_route())"/>Search</button>
        </span>
      </div>
      <br/>
      <p>
        <label for="amount">Price range:</label>
        <input type="text" id="amount" readonly style="border:0; background-color: #E8E8E8; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider-range"></div>
    </form>

    <!-- dynamically load item list -->
    <div ng-include="'item_list.html'"></div>

  </div>

  <!-- load main controller -->
  <script src="mainController.js"></script>
  <script>
    angular
      .module('indexApp', ['ngRoute', 'ngCookies'])
      .controller('mainController', mainController);
  </script>

  <!-- load login & register controller -->
  <script src="login.js"></script>
  <script src="register.js"></script>

  <!-- load search controller -->
  <script src="searchController.js"></script>
  <script>
    angular
      .module('searchApp', [])
      .controller('searchController', searchController);
  </script>

  <script>
    angular.bootstrap(document, ["indexApp", "searchApp"]);
  </script>
</body>
</html>
