<!DOCTYPE html>
<html>
<head>

  <script src="tools.js"></script>

  <!-- price slide -->
  <script>
  var min_price = 0;
  var max_price = 1000;
  angular.element(document).ready(function () {
    $( "#slider-range" ).slider({
      range: true,
      min: min_price,
      max: max_price,
      values: [ min_price, max_price ],
      slide: function( event, ui ) {
        if (ui.values[ 1 ] == max_price) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] + " and above");
        } else {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
      }
    });
    if ($( "#slider-range" ).slider( "values", 1 ) == max_price) {
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) + " and above");
    } else {
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    }
  });
  </script>

  <script>
  $("#keyword").keyup(function(event){
    if(event.keyCode == 13){
        $("#submit").click();
      }
  });
  </script>

  <style>
  .bootstrap-tagsinput {
    width: 100%;
  }
  #searchContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("img/CUHK.jpg");
    background-size: 100% 100%;
    padding: 100px 0 50px 0;
  }
  .title {
    font: 400 3.5em/125% 'Petit Formal Script', Helvetica, Sans-serif;
  }
  </style>
</head>
<body style="margin-top:50px;">
  <div class="container-fluid" style="padding:0;" ng-controller="searchController">
    <div class="container-fluid" id="searchContainer" >
      <div class="title col-lg-12 text-center" style="margin-bottom:50px;color:WHITE;font-size:40px ;font-weight:400;">
        Enjoy your search!
      </div>
      <div class="container" >
        <div class="row">
          <div class="col-md-12">
              <div class="input-group input-group-lg" id="adv-search">
                <input id="keyword" type="text" class="form-control" placeholder="Search for items" ng-model="keyword"/>
                <div class="input-group-btn">
                  <div class="btn-group btn-group-lg" role="group">
                    <div class="dropdown dropdown-lg">
                      <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" ng-options="c._id as c.name for c in categories" ng-model="selectedCategory"></select>
                          </div>
                          <div class="form-group">
                            <label for="tag">Tag</label><br/>
                            <input class="form-control" type="text" data-role="tagsinput" id="tag" name="tag" ng-model="tags">
                          </div>
                          <p>
                            <label for="amount">Price range:</label>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                          </p>
                          <div id="slider-range" style="margin-bottom:15px;"></div>
                        </form>
                      </div>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary" ng-click="submit_search(get_search_route(true))"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="search-result" ng-show="show_search" style="margin-top: 5rem">
      <div ng-include="'item_list.html'"></div>
      <div class="container" align="center">
        <nav aria-label="age navigation" ng-show="page_count">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous" ng-click="get_last_page()">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" ng-repeat="page in page_enum"
              ng-class="(page+1) == page_selected ? 'active' : ''">
              <a class="page-link" href="#" ng-click="get_page(page+1)">{{page+1}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" ng-click="get_next_page()">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>
</html>
