<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/transaction.css">
  <script src="new_card.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900" rel="stylesheet">
  <script src="tools.js"></script>
  <!-- share.css -->

<!-- share.js -->

  <!-- reponsive height for cards -->


</head>
<body>
  <div class="col-md-4 col-xs-12">
    <div class="container" style="width:100%;">
          <div class="transactioncard-container">
                 <div class="transactioncard" ng-repeat="tran in tid_list">
                     <div class="transactionfront">
                         <div class="cover">
                             <img src="http://www.dhabc.net/uploadfile/2016/0401/20160401115708557.jpg"/>
                         </div>
                         <div class="user">
                             <img class="img-circle" src="http://www.cse.cuhk.edu.hk/lyu/_media/wiki/lyu.jpg?cache=cache&w=328&h=400"/>
                         </div>
                         <div class="content">
                             <div class="main">
                                <p class="profession">Request from</p>
                                 <h3 class="name" ng-bind="tran.buyer"></h3>
                             </div>
                         </div>
                     </div> <!-- end front panel -->
                     <div class="transactionback">
                       <div class="content">
                           <div class="main">
                              <p class="profession">Request from</p>
                               <h3 class="name"  ng-bind="tran.buyer"></h3>
                               </br></br></br>
                               <p class="profession">He(She) wants to buy</p>
                                <h3 class="name" ng-bind="tran.item"></h3>
                              </br></br></br>
                           </div>
                       </div>
                         <div class="footer">
                           <div class="social-links text-center">
                             <button type="button" class="btn btn-success btn-sm" ng-click="acceptTransaction()">Accept</button>
                             <button type="button" class="btn btn-danger btn-sm" ng-click="declineTransaction()">Decline</button>
                             <button type="button" class="btn btn-info btn-sm">Message</button>
                           </div>
                         </div>
                     </div> <!-- end back panel -->
                 </div> <!-- end card -->
             </div> <!-- end card-container -->
    </div>
  </div>

</body>
</html>
