<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/user_card.css">
  <script src="new_card.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900" rel="stylesheet">
</head>
<body ng-app="">
<div class="container" style="width:100%;">
    <div class="row">
         <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="fol in users">
             <div class="user_card-container">
                <div class="user_card">
                  <a href="#"><div class="user_front">
                      <div class="content">
                          <div class="main">
                              <h3 class="name" ng-bind="fol.username"></h3>
                              <p class="text-center" ng-bind="fol.profile.description"></p>
                          </div>
                          <div class="footer">
                              <i class="fa fa-mail-forward"></i> Auto Rotation
                          </div>
                      </div>
                  </div> <!-- end front panel -->
                  <div class="user_back">
                      <div class="content"  ng-click="goProfile(fol._id)">
                          <div class="main">
                            <p class="text-center">
                              <i class="glyphicon glyphicon-envelope"> </i>  {{fol.email}}</br>
                              <i class="glyphicon glyphicon-earphone"> </i>  {{fol.profile.phone}}</br>
                            </p>

                          </div>
                      </div>
                      <div class="footer">
                          <div class="social-links text-center">
                            <button type="button" class="btn btn-info btn-sm" ng-click="Follow(fol._id)" ng-show="!isFollowed(fol._id)">Follow</button>
                            <button type="button" class="btn btn-warning btn-sm" ng-click="Unfollow(fol._id)" ng-show="isFollowed(fol._id)">Unfollow</button>
                            <button type="button" class="btn btn-success btn-sm" ng-click="sendMessage(fol._id)">Message</button>
                          </div>
                      </div>
                  </div> <!-- end back panel --></a>

                </div> <!-- end card -->
<!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col-sm-3 -->

    </div> <!-- end row -->
</div>



</body>
</html>
